Flask==3.0.0
Flask-Cors==4.0.0
google-cloud-aiplatform==1.40.0
google-api-python-client==2.85.0
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability